div.main {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 22px;

    h1 {
        text-align: center;
        color: #dd0000;
        font-family: 'SF Sports Night';
        cursor: default;
        margin: 0;
        margin-top: 10px;
    }

    sup {
        font-size: small;
    }
}