button.send {
    font-family: 'SF Sports Night';
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: inherit;
    border: 1px solid #000000;
    border-width: 1px 0 0 0;
    outline: none;
    position: absolute;
    bottom: 0;
    height: 40px;
    padding: 13px;
    cursor: default;
    -webkit-app-region: no-drag;
}